/* Write your CSS code here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-img {
  height: 350px;
  width: auto;
}

h1 {
  font-size: 50px;
  color: #6d396b;
  margin-bottom: 20px;
}
