/* Write your CSS code here */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
  color: #12022f;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.list-link {
  text-decoration: none;
  color: #12022f;
  margin: 10px;
}
